.call {
  top: 0;
  right: 0;
  z-index: 3;
  width: 320px;
  height: 680px;
  padding: 24px 16px;
  position: absolute;
  background-color: $mobileMenu-bg-color;

  &_hidden {
    display: none;
  }

  @media (min-width: 1366px) {
    width: 440px;
    padding: 32px;
    height: 100vh;
    padding-top: 0;
  }

  &__close {
    @media (min-width: 1366px) {
      top: 32px;
      right: 473px;
      position: absolute;
    }
  }

  &__title {
    padding-left: 12px;
    font-size: 1.72rem;
    margin: 40px 0 24px -16px;
    background: url(../img/highLight.svg) no-repeat;

    @media (min-width: 1366px) {
      padding-left: 28px;
      margin-left: -32px;
    }
  }

  &__input {
    width: 288px;
    outline: none;
    line-height: 24px;
    font-size: 1.14rem;
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    letter-spacing: -0.2px;
    border: 1px solid $separator-bg-color;

    @media (min-width: 1366px) {
      width: 376px;
    }
  }

  &__info {
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 18px;
    color: $menuBtn-focus-color;

    strong {
      font-weight: 500;
      color: $btn-bg-color;
    }
  }

  &__submit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
